.sidebar_container {
  position: absolute;
  top: 3.2rem;
  left: 0;
  width: 0;
  height: 0;

  opacity: 0;
  transition: opacity 0.2s;
  background-color: var(--background-popup);
}

.sidebar_container_opened {
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.sidebar {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 0;
  left: -15rem;

  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  /* border-radius: var(--border-radius); */
  transition: opacity 0.2s, left 0.15s;
  background-color: var(--background-2);
}

.sidebar_opened {
  left: 0;
}
